.puzzle {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.clues-grid {
    display: flex;
    flex-direction: row;
}

.clues {
    display: flex;
    flex-direction: column;
}

.clue {
    position: sticky;
    offset-block-start: 0px;
    background-color: white;
}

.cell {
    height: 24px;
    width: 24px;
    border: 1px black solid;
    user-select: none;
}

.wrong-letter {
    color: red;
}

.clue-selected {
    background-color: pink;
}

.cell:focus {
    background-color: lightcoral;
    outline: none;
}

.black {
    background-color: black !important;
}

.letter-picker {
    display: flex;
    justify-content: space-between;
}