.puzzle {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.clues-grid {
    display: flex;
    flex-direction: row;
}

.clues {
    display: flex;
    flex-direction: column;
}

.top-bar {
    position: sticky;
    offset-block-start: 0px;
    display: flex;
    justify-content: space-between;
    inline-size: 100%;
}

.clue {
    line-height: 1em;
    background-color: white;
}

.cell {
    line-height: 1em;
    height: 24px;
    width: 24px;
    border: 1px black solid;
    user-select: none;
}

.wrong-letter {
    color: red;
}

.clue-selected {
    background-color: pink;
}

.cell:focus {
    background-color: lightcoral;
    outline: none;
}

.black {
    background-color: black !important;
}

.letter-picker {
    display: flex;
    justify-content: space-between;
    max-inline-size: 400px;
    flex-flow: row wrap;
    position: sticky;
    offset-block-end: 0;
    padding-block-end: 16px;
    background-color: white;
}